@font-face {
  font-family: 'zoika_fontbold';
  src: url('zoika-webfont.woff2') format('woff2'),
       url('zoika-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #0e1111;
  color: #f0f0f0;
}

.wrapper {
  padding: 50px;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.task-container {
  overflow-y: hidden;
  height: 55%;
  margin-bottom: 50px;
}

h1 {
  display: flex;
  font-family: 'zoika_fontbold', sans-serif;
  font-size: 3rem;
  margin: 0;
}

.task-add-input-container {
  position: relative;
}

.task-add-input {
  outline: none;
  position: absolute;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  max-height: 3.5rem;
  margin-bottom: 45px;
  overflow-y: scroll;
  &:empty:before {
    content: attr(data-placeholder);
    opacity: .5;
  }
}

ul {
  overflow-y: scroll;
  padding: 0;
  height: 55%;
  &.list-completed {
    position: relative;
    li {
      position: relative;
      margin-left: 30px;
      cursor: pointer;
      svg {
        display: none;
        position: absolute;
        left: -32px;
        animation: draw-in .8s ease;
      }
      &:hover {
        &::before {
          display: none;
        }
        svg {
          display: block;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 8px;
        width: 10px;
        height: 2px;
        background: #f0f0f0;
      }
    }
    &::after {
      content: '';
      position: fixed;
      pointer-events: none;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 30%;
      text-align: center;
      margin: 0; padding: 30px 0;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255, 0, 0, 0)),
        color-stop(1, rgba(14, 17, 17, 100)));
    }
  }
}
.task-total {
  margin-top: 75px;
  font-size: .75rem;
}

li {
  display: flex;
  margin-bottom: 25px;
  list-style: none;
  animation: slide-in .3s ease;
  div {
    width: 95%;
    max-width: 95%;
    outline: none;
  }
  &.deleted {
    animation: fade-out .2s ease;
  }
  :last-child{
    justify-self: end;
  }
}

.check-container {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 1;
    cursor: pointer;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 0;
    stroke: #808080;
  }
}

input[type="checkbox"]:hover ~ svg {
  animation: draw-in 2s ease;
  stroke: #4caf50;
}

p {
  display: block;
  font-size: 11px;
  margin-top: -5px;
}

@keyframes slide-in {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes draw-in {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (min-width: 959px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 777px) {
  .wrapper {
    display: grid;
    height: calc(100vh - 200px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    padding: 100px;
    overflow: hidden;
  }
  .task-container {
    height: calc(100vh - 200px);
    overflow: hidden;
  }
  ul {
    height: calc(100vh - 330px);
  }
  .list-incomplete {
    height: calc(100vh - 425px);
  }
  ul {
    &.list-completed {
      &::after {
        content: '';
        position: fixed;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 80%;
        text-align: center;
        margin: 0; padding: 30px 0;
        background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgba(255, 0, 0, 0)),
          color-stop(1, rgba(14, 17, 17, 100)));
      }
    }
  }
}

@media screen and (min-width: 448px) {
  p {
    display: none;
  }
}